html, body {
  color: #8C8C8C;
  background-color: #CED8D8;
}

#Logo a {
  background-color: transparent;
}

#Nav {
  background: #5D5D5D url(../images/grayfade.gif) top left repeat-y;
  border-left-color: #00b0d1;
}

#Nav, #Nav a {
  color: #CCCCCC;
}

#Nav a {
  background-color: transparent;
}

#Nav a:hover, #Nav strong {
  color: #FFFFFF;
}

#Content {
  color: #7C7C7C;
  /*color: #B9ACAC;*/
}

#Content h1, #Content h2, #Content h3 {
  /*color: #80E5FF;*/
  color: #00A4C4;
}

a:link {
  background-color:#E0ECFF;
  color:#206CFF;
}

a:visited {
  background-color:#FADCB3;
  color:#B36D00;
}

#publishDate, #projectVersion {
  background-color:#FDE9F4;
  color:#854F61;
}

#Content th, #Content td {
  border-color: #EEEEEE;
}

#Footer {
  background: #5D5D5D url(../images/grayfade.gif) top left repeat-y;
  color: #FFFFFF;
}

#Footer a {
  background-color: transparent;
  color: #FFFFFF;
}