html, body {
  margin: 0 0 0 0;
  padding: 20px 20px;
}

p, pre {
  padding: 5px 0px;
}

ul li {
  list-style: disc inside;
}

a, #Nav strong, #publishDate, #projectVersion {
  padding: 2px 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

table {
  width: 100%;
}

#Frame {
  margin: 0 auto;
  background: #fff url(../images/frame_bottom.gif) no-repeat bottom left;
  border: 12px solid #b5c1c1;
  overflow:auto;
}

#Nav {
  /*border-left: 3px solid;*/
  padding: 0 15px;
  float: left;
}

#Nav li ul {
  margin-left: 15px;
}

#Nav li {
  padding:1px 2px;
  text-align: left;
  list-style-type: none;
  display: block;
}

#Gutter {
  padding-left: 20em;
  padding-top: 20px;
}

#Content {
  background: url(../images/bluefade.gif) top left repeat-x;
}

#Content h1 , #Content h2 , #Content h3 , #Content h4 {
  padding-top: 20px;
}

#Content, #breadcrumbs {
  padding: 0px 15px;
}

#Content th, #Content td {
  border-width: 2px;
  padding: 5px;
}

#Footer {
  margin-top: 25px;
  padding: 5px 0;
  text-align: center;
  clear: both;
}